<% include('./../layout/header.ejs') %>
<form action="/forget" method="post" enctype="application/x-www-form-urlencoded">
    <input type="text" name="email">
    <input type="submit" value="send reset link">
</form>
<% include('./../layout/footer.ejs') %>
 