<% include('./../layout/header.ejs') %>
<h1>User Registration</h1>
<form action="/signup" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Enter name" required><br><br>
    <input type="email" name="email" placeholder="Enter email" required><br><br>
    <input type="text" name="mno" placeholder="Enter PhoneNumber" required><br><br>
    <input type="file" name="image" required><br><br>
    <input type="text" name="password" placeholder="Enter password" required><br><br>
    <input type="submit" value="submit">
</form>
<button><a href="/login">Login</a></button>
<% if (typeof message!== 'undefined') {%>
  <p><%= message %></p>  
<%} else {%>
    <p>Email is verifed</p>
<%} %>
<% include('./../layout/footer.ejs') %>
 