<% include('./../layout/header.ejs') %>
<form action="/upadatepassword" method="post" enctype="application/x-www-form-urlencoded">
    <input type="password" name="password">
    <input type="password" name="new-password">
    <input type="submit" value="Reset password">
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <p name="user_id"><%= user_id %></p>
</form>
<% include('./../layout/footer.ejs') %>
 